<div class="layuimini-container">
    <div class="layuimini-main">
        <blockquote class="layui-elem-quote">请实时关注公告，以防出现使用问题</blockquote>

        <div class="layui-row">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-header"><i class="fa fa-bullhorn icon icon-tip"></i>系统公告</div>
                    <div class="layui-card-body layui-text">
                        {{.announcement}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>