<link rel="stylesheet" href="/static/lib/layui/css/layui.css" media="all">
<link rel="stylesheet" href="/static/css/layuimini.css" media="all">
<link rel="stylesheet" href="/static/css/public.css" media="all">
<link rel="stylesheet" href="/static/lib/font-awesome/css/font-awesome.min.css" media="all">
<!--[if lt IE 9]>
<script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
<script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<style id="layuimini-bg-color">
</style>
<script src="/static/lib/layui/layui.js" charset="utf-8"></script>
<script src="/static/lib/lay-config.js" charset="utf-8"></script>

<div class="layuimini-container">
    <div class="layuimini-main">
        <table class="layui-hide" id="currentTableId" lay-filter="currentTableFilter"></table>
        <script type="text/html" id="currentTableBar">
            <a class="layui-btn layui-btn-xs data-count-edit" lay-event="detail">查看详情</a>
        </script>
    </div>
</div>

<script>
    layui.use(['form', 'table', 'layuimini'], function () {
        var $ = layui.jquery,
            form = layui.form,
            table = layui.table;

        table.render({
            elem: '#currentTableId',
            url: '/v1/samp/list?pftestId={{.pftestId}}',
            cols: [[
                {field: 'Func', width: 200, title: '压测api'},
                {field: 'CreateTime', width: 200, title: '时间'},
                {field: 'ReqStatus', width: 90, title: '响应状态'},
                {field: 'Rt', width: 80, title: 'RT'},
                {field: 'ReqId', width: 120, title: 'req_api_id'},
                {title: '操作', minWidth: 50, templet: '#currentTableBar', fixed: "right", align: "center"}
            ]],
            limits: [10, 15, 20, 25, 50, 100],
            limit: 10,
            page: true,
            done:function () {
                $('td[data-field="CreateTime"]').each(function () {
                    var $div = $(this).find('div[class^="layui-table-cell"]');
                    var val = $div.text();
                    $div.text(new Date(val).Format("yyyy-MM-dd hh:mm:ss"));
                });
            }
        });

        table.on('tool(currentTableFilter)', function (obj) {
            var data = JSON.parse(obj.data.ReqContent);
            var html = '<table class="layui-table" lay-skin="line">'
                + '<colgroup>' +
                '    <col width="150">' +
                '    <col>' +
                '  </colgroup>' +
                '  <thead>' +
                '    <tr>' +
                '      <th>General</th>' +
                '      <th></th>' +
                '    </tr>' +
                '  </thead>'
                + '<tbody>' +
                '    <tr>' +
                '      <td>Request URL</td>' +
                '      <td>' + data.http_req_url + '</td>' +
                '    </tr>' +
                '    <tr>' +
                '      <td>Request Method</td>' +
                '      <td>' + data.http_req_method + '</td>' +
                '    </tr>' +
                '    <tr>' +
                '      <td>Response Code</td>' +
                '      <td>' + data.http_res_status + '</td>' +
                '    </tr>' +
                '    <tr>' +
                '      <td>Export Conten</td>' +
                '      <td>' + JSON.stringify(data.export_content) + '</td>' +
                '    </tr>' +
                '    <tr>' +
                '      <td>Check Result</td>' +
                '      <td>' + JSON.stringify(data.check_result) + '</td>' +
                '    </tr>' +
                '  </tbody>'
                + '</table>';

            html += '<table class="layui-table" lay-skin="line">'
                + '	<colgroup> '
                + '		<col width="150"> '
                + '		<col> '
                + '	</colgroup> '
                + '	<thead> '
                + '		<tr> '
                + '		  <th>Request Headers</th> '
                + '		  <th></th> '
                + '		</tr> '
                + '	</thead>'
                + ' <tbody> ';
            if (typeof data.http_req_headers != 'undefined') {
                for (var i =0; i < data.http_req_headers.length; i++) {
                    var header = data.http_req_headers[i];
                    html += '    <tr> '
                        +'      <td>'+header.name+'</td> '
                        +'      <td>'+header.value+'</td> '
                        +'    </tr> ';
                }
            }
            html += '  </tbody>'
                +'</table>';

            html += '<table class="layui-table" lay-skin="line">'
                + '	<colgroup> '
                + '		<col> '
                + '	</colgroup> '
                + '	<thead> '
                + '		<tr> '
                + '		  <th>Request Body</th> '
                + '		</tr> '
                + '	</thead>'
                + ' <tbody> ';
            html += '    <tr> '
                +'      <td>'+data.http_req_body+'</td> '
                +'    </tr> ';
            html += '  </tbody>'
                +'</table>';

            html += '<table class="layui-table" lay-skin="line">'
                + '	<colgroup> '
                + '		<col width="180"> '
                + '		<col> '
                + '	</colgroup> '
                + '	<thead> '
                + '		<tr> '
                + '		  <th>Response Headers</th> '
                + '		  <th></th> '
                + '		</tr> '
                + '	</thead>'
                + ' <tbody> ';
            if (typeof data.http_res_headers != 'undefined') {
                var respHeaders = data.http_res_headers;
                for(var key in respHeaders){
                    html += '    <tr> '
                        +'      <td>'+key+'</td> '
                        +'      <td>'+respHeaders[key]+'</td> '
                        +'    </tr> ';
                }
            }
            html += '  </tbody>'
                +'</table>';

            html += '<table class="layui-table" lay-skin="line">'
                + '	<colgroup> '
                + '		<col> '
                + '	</colgroup> '
                + '	<thead> '
                + '		<tr> '
                + '		  <th>Response Body</th> '
                + '		</tr> '
                + '	</thead>'
                + ' <tbody> ';
            html += '    <tr> '
                +'      <td>'+htmlEncode(data.http_res_body)+'</td> '
                +'    </tr> ';
            html += '  </tbody>'
                +'</table>';
            layer.open({
                area: ['900px', '400px'],
                content: html
            });
        });

        function htmlEncode(value){
            return $('<div/>').text(value).html();
        }
    });

    Date.prototype.Format = function (fmt) { //author: meizz
        var o = {
            "M+": this.getMonth() + 1, //月份
            "d+": this.getDate(), //日
            "h+": this.getHours(), //小时
            "m+": this.getMinutes(), //分
            "s+": this.getSeconds(), //秒
            "q+": Math.floor((this.getMonth() + 3) / 3), //季度
            "S": this.getMilliseconds() //毫秒
        };
        if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
        for (var k in o)
            if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
        return fmt;
    }
</script>