<div class="layuimini-container">
    <div class="layuimini-main">
        <form class="layui-form">
            <blockquote class="layui-elem-quote">
                创建压测
                <button type="button" class="layui-btn layui-btn-sm" style="float: right;margin-left: 10px;" id="scenes_test_btn">保存去压测
                </button>
                <input type="hidden" name="reserveTime"/>
                <button type="button" class="layui-btn layui-btn-sm" style="float: right; margin-left: 10px;" lay-submit
                        lay-filter="formScenesValidFilter">调试场景
                </button>
                <button type="button" class="layui-btn layui-btn-sm" id="btn_scenes_save" lay-submit
                        lay-filter="formScenesSaveFilter" style="float: right; margin-left: 10px;">保存配置
                </button>
                <button type="button" class="layui-btn layui-btn-sm layui-btn-primary" data-file-upload="数据源管理"
                        style="float: right;">数据源管理
                </button>
                <button type="button" class="layui-btn layui-btn-sm layui-hide" id="scenes_hidden_test_btn" lay-submit
                        lay-filter="formScenesRunFilter">隐藏btn，用于提交form</button>
                <input type="hidden" id="scenes_datafile_json" value=""/>
            </blockquote>


            <div class="layui-form-item">
                <label class="layui-form-label">场景名</label>
                <div class="layui-input-inline">
                    <input name="name" type="text" required lay-verify="required" class="layui-input" value=""
                           placeholder="请输入场景名称" autocomplete="off"/>
                    <input name="id" type="hidden" value="{{.id}}"/>
                </div>
            </div>

            <hr/>

            <div class="layui-tab layui-tab-brief" lay-filter="scenesFilters">
                <ul class="layui-tab-title">
                    <li class="layui-this">场景配置</li>
                    <li>施压配置</li>
                    <li>高级设置</li>
                    <li>添加监控</li>
                </ul>
                <div class="layui-tab-content">
                    <div class="layui-tab-item layui-show">
                        <div style="margin: 30px;">
                            <ul class="layui-timeline" id="api_template">

                            </ul>
                        </div>
                    </div>

                    <div class="layui-tab-item">

                        <div class="layui-form-item">
                            <label class="layui-form-label" style="width: 120px;">代理</label>
                            <div class="layui-input-inline">
                                <input id="agent_count" name="agentCount" required lay-verify="required|number"
                                       type="text" class="layui-input"
                                       value=""/>
                            </div>
                            <div class="layui-form-mid layui-word-aux">
                                最大值: {{.agentConfig.regionAgentCountMap.NONE.value}}</div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label" style="width: 120px;">虚拟用户数/代理</label>
                            <div class="layui-input-inline">
                                <input id="vuser_per_agent" name="vuserPerAgent" required lay-verify="required|number"
                                       type="text" class="layui-input"
                                       value=""/>
                            </div>
                            <div class="layui-form-mid layui-word-aux">最大值: {{.agentConfig.maxVuserPerAgent}}</div>
                            <label class="layui-form-label" style="width: 120px;">
                                虚拟用户:
                                <i id="total_vuser">0</i>
                            </label>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label" style="width: 120px;">进程数</label>
                            <div class="layui-input-inline">
                                <input name="processes" id="processes" required lay-verify="required|number" type="text"
                                       class="layui-input" value=""/>
                            </div>
                            <label class="layui-form-label" style="width: 120px;">线程数</label>
                            <div class="layui-input-inline">
                                <input name="threads" id="threads" required lay-verify="required|number" type="text"
                                       class="layui-input" value=""/>
                            </div>
                        </div>

                        <hr>
                        <div class="layui-form-item">
                            <label class="layui-form-label" style="width: 120px;"></label>
                            <div class="layui-input-inline" style="width: 20px;">
                                <input type="radio" id="duration_ratio" name="threshold" value="D" checked
                                       lay-filter="thresholdFilter">
                            </div>
                            <label class="layui-form-label"
                                   style="width: 60px;padding: 9px 40px 9px 0;">测试时间</label>
                            <div class="layui-input-inline" style="width: 20px;">
                                <input type="radio" id="run_count_radio" name="threshold" value="R"
                                       lay-filter="thresholdFilter">
                            </div>
                            <label class="layui-form-label"
                                   style="width: 60px;padding: 9px 40px 9px 0;">测试次数</label>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label" style="width: 120px;">测试时间</label>
                            <div class="layui-input-inline">
                                <input id="duration" name="duration" value="120000" lay-verify="number"
                                       class="layui-input">
                                <input type="hidden" id="duration_hour" name="durationHour" value="1">
                            </div>
                            <div class="layui-form-mid layui-word-aux">最大值: {{.agentConfig.maxRunHour}}H</div>
                        </div>
                        <div class="layui-form-item" style="display: none;">
                            <label class="layui-form-label" style="width: 120px;">测试次数</label>
                            <div class="layui-input-inline">
                                <input id="run_count" name="runCount" type="text" lay-verify="number"
                                       class="layui-input" value="0"/>
                            </div>
                            <div class="layui-form-mid layui-word-aux">最大值: {{.agentConfig.maxRunCount}}</div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label" style="width: 120px;">显示高级配置</label>
                            <div class="layui-input-inline">
                                <input type="checkbox" lay-skin="switch" lay-text="ON|OFF"
                                       lay-filter="advancedFilter" name="advancedSwitch">
                            </div>
                        </div>

                        <div id="advanced_config" style="display: none">
                            <hr/>
                            <div class="layui-form-item">
                                <label class="layui-form-label" style="width: 120px;">采样间隔</label>
                                <div class="layui-input-inline">
                                    <select name="samplingInterval">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="10">10</option>
                                        <option value="30">30</option>
                                        <option value="60">60</option>
                                    </select>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label" style="width: 120px;">忽略采样数量</label>
                                <div class="layui-input-inline">
                                    <input name="ignoreSampleCount" type="text" class="layui-input" lay-verify="number"
                                           value="0"/>
                                </div>
                                <div class="layui-form-mid layui-word-aux">请输入要忽略的采样个数。在nGrinder里， 实际忽略的采样时间是 忽略的个数
                                    *
                                    采样间隔。
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label" style="width: 120px;">测试参数</label>
                                <div class="layui-input-inline">
                                    <input name="param" type="text" class="layui-input" value=""/>
                                </div>
                                <div class="layui-form-mid layui-word-aux">
                                    测试参数可以在脚本中通过System.getProperty('param')取得。参数只能为1〜50个字母和数字、下划线、逗号、圆点（.）或竖线（|）组成,禁止输入空格。
                                </div>
                            </div>
                        </div>

                        <hr>
                        <div class="layui-form-item">
                            <label class="layui-form-label" style="width: 120px;">Ramp-Up可用</label>
                            <div class="layui-input-inline" style="width: 50px;">
                                <input type="checkbox" id="use_ramp_up" lay-skin="switch" lay-text="ON|OFF"
                                       name="useRampUp" value="F" lay-filter="useRampUpSwitchFilter">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label" style="width: 120px;"></label>
                            <div class="layui-input-inline" style="width: 150px;">
                                <select name="rampUpType" id="ramp_up_type">
                                    {{range $v := .agentConfig.availRampUpType}}
                                        <option value="{{$v}}">{{if eq "PROCESS" $v}}进程{{else}}线程{{end}}</option>
                                    {{end}}
                                </select>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label" style="width: 120px;">初始数</label>
                            <div class="layui-input-inline">
                                <input id="ramp_up_init_count" name="rampUpInitCount" type="text"
                                       class="layui-input" lay-verify="number"
                                       value="0"/>
                            </div>
                            <label class="layui-form-label" style="width: 120px;">增量</label>
                            <div class="layui-input-inline">
                                <input id="ramp_up_step" name="rampUpStep" type="text" class="layui-input"
                                       lay-verify="number"
                                       value="0"/>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label" style="width: 120px;">初始等待时间</label>
                            <div class="layui-input-inline">
                                <input id="ramp_up_init_sleep_time" name="rampUpInitSleepTime" type="text"
                                       lay-verify="number"
                                       class="layui-input"
                                       value="0"/>
                            </div>
                            <div class="layui-form-mid layui-word-aux">MS</div>

                            <label class="layui-form-label" style="width: 120px;">进程增长间隔</label>
                            <div class="layui-input-inline">
                                <input id="ramp_up_increment_interval" name="rampUpIncrementInterval" type="text"
                                       lay-verify="number"
                                       class="layui-input"
                                       value="1000"/>
                            </div>
                            <div class="layui-form-mid layui-word-aux">MS</div>
                        </div>
                        <hr>
                        <br/>
                        <br/>
                        <br/>
                    </div>

                    <div class="layui-tab-item">
                        <div class="layui-form-item">
                            <label class="layui-form-label" style="width: 200px;"><b>通用设置适用于全场景所有API</b></label>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label" style="width: 100px;">新增成功状态码</label>
                            <div class="layui-input-inline">
                                <input name="statusCode" type="text" class="layui-input" value="" placeholder="请使用英文逗号(,)分隔穷举输入，如301,302"/>
                            </div>
                            <div class="layui-form-mid layui-word-aux">默认只有2xx为请求成功，新增内容和2xx状态码均视为请求成功状态码。</div>
                        </div>
                    </div>

                    <div class="layui-tab-item">
                        <div class="layui-form-item">
                            <label class="layui-form-label">监控机器</label>
                            <div class="layui-input-inline">
                                <input id="moniter" name="targetHosts" type="text" class="layui-input" value=""
                                       ts-selected=""/>
                            </div>
                            <div class="layui-form-mid layui-word-aux">监控压测机器的性能</div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    //转化成js函数，目前不起作用
    {{.agentConfig.vuserCalcScript}}

    layui.use(['form', 'table', 'element', 'tableSelect', 'apiTemplate','laydate'], function () {
        var $ = layui.jquery,
            element = layui.element,
            form = layui.form;

        //一些事件监听
        element.on('tab(scenesFilters)', function (data) {
            //console.log(data);
        });

        var tableSelect = layui.tableSelect;
        tableSelect.render({
            elem: '#moniter',	//定义输入框input对象 必填
            checkedKey: 'id', //表格的唯一建值，非常重要，影响到选中状态 必填
            searchKey: 'ip',	//搜索输入框的name值 默认keyword
            searchPlaceholder: 'ip搜索',	//搜索输入框的提示文字 默认关键词搜索
            table: {	//定义表格参数，与LAYUI的TABLE模块一致，只是无需再定义表格elem
                url: '/v1/home/agentList',
                cols: [[
                    {type: 'checkbox'},
                    {field: 'id', title: 'ID', width: 100},
                    {field: 'ip', title: 'IP', width: 300},
                    {field: 'port', title: 'PORT', width: 300}
                ]]
            },
            done: function (elem, data) {
                //选择完后的回调，包含2个返回值 elem:返回之前input对象；data:表格返回的选中的数据 []
                //拿到data[]后 就按照业务需求做想做的事情啦~比如加个隐藏域放ID...
                var NEWJSON = []
                layui.each(data.data, function (index, item) {
                    NEWJSON.push(item.ip)
                })
                elem.val(NEWJSON.join(","))
            }
        });

        $("#vuser_per_agent").change(function () {
            var $vuserElement = $(this);
            var processCount = $("#processes").val();
            var result = updateVuserPolicy($vuserElement.val());
            $(this).val(result[0] * result[1]);

            updateTotalVuser();
        });

        function updateVuserPolicy(vuser) {
            var processCount = getProcessCount(vuser);
            var threadCount = getThreadCount(vuser);
            var $processes = $('#processes');
            $processes.val(processCount);
            var threads = $('#threads');
            threads.val(threadCount);
            return [processCount, threadCount];
        }

        $("#threads, #processes").change(function () {
            var $vuser = $("#vuser_per_agent");
            $vuser.val($("#processes").val() * $("#threads").val());
            updateTotalVuser();
        });
        $("#agent_count").change(function () {
            updateTotalVuser();
        });

        function updateTotalVuser() {
            $("#total_vuser").text($("#agent_count").val() * $("#vuser_per_agent").val());
        }

        form.on("radio(thresholdFilter)", function (data) {
            var val = data.value;
            if (val == "D") {
                $("#duration").parent().parent().show();
                $("#run_count").parent().parent().hide();
            } else {
                $("#duration").parent().parent().hide();
                $("#run_count").parent().parent().show();
            }
        });
        form.on('switch(advancedFilter)', function (data) {
            if (data.elem.checked) {
                $("#advanced_config").show();
            } else {
                $("#advanced_config").hide();
            }

        });
        form.on('switch(useRampUpSwitchFilter)', function () {
            $("input[name='useRampUp']").val(this.checked ? 'T' : 'F');
        });

        {{if not .id}}
        var apiTemplate = layui.apiTemplate;
        apiTemplate.APITemplate($('#api_template'));
        {{end}}

        function getScenesFormData(data) {
            var sdata = data.field;
            //组装参数，发送请求
            var scenes = {};
            var id = $('input[name="id"]').val();
            scenes.id = typeof id == 'undefined' || id == '' ? '0' : id;
            scenes.name = sdata.name;
            scenes.ignoreSampleCount = sdata.ignoreSampleCount;
            scenes.targetHosts = sdata.targetHosts;
            scenes.useRampUp = 'useRampUp' in sdata ? sdata.useRampUp : 'F';
            scenes.threshold = sdata.threshold;
            scenes.duration = sdata.duration;
            scenes.runCount = sdata.runCount;
            scenes.agentCount = sdata.agentCount;
            scenes.vuserPerAgent = sdata.vuserPerAgent;
            scenes.processes = sdata.processes;
            scenes.rampUpInitCount = sdata.rampUpInitCount;
            scenes.rampUpInitSleepTime = sdata.rampUpInitSleepTime;
            scenes.rampUpStep = sdata.rampUpStep;
            scenes.rampUpIncrementInterval = sdata.rampUpIncrementInterval;
            scenes.threads = sdata.threads;
            scenes.samplingInterval = sdata.samplingInterval;
            scenes.param = sdata.param;
            scenes.statusCode = sdata.statusCode;
            var datafile_tmp = $('#scenes_datafile_json').val();
            scenes.fileDataList = datafile_tmp == '' ? [] : JSON.parse(datafile_tmp);
            //收集api信息
            var requestPmsList = [];
            var apiElem = $('#api_template').find('li[name="scenes_li_element"]');
            for (var i = 0; i < apiElem.length; i++) {
                var apiPms = {};
                apiPms.testPmsId = scenes.id;
                apiPms.sort = i + '';
                if ($(apiElem[i]).find('input[name="apiName"]').length > 0) {
                    //api请求参数
                    apiPms.apiName = $(apiElem[i]).find('input[name="apiName"]').val();
                    apiPms.type = $(apiElem[i]).find('input[name="type"]').val();
                    apiPms.method = $(apiElem[i]).find('select[name="requestMethod"]').val();
                    apiPms.timeout = $(apiElem[i]).find('input[name="requestTimeout"]').val();
                    apiPms.url = $(apiElem[i]).find('textarea[name="desc"]').val();
                    //设置paramsList
                    if (apiPms.method == 'POST' || apiPms.method == 'PUT') {
                        apiPms.contentType = $(apiElem[i]).find('input[name="params_method_content_type"]').val();
                        if (apiPms.contentType == 'application/json') {
                            var body = $(apiElem[i]).find('textarea[name="paramsBody"]').val();
                            if (typeof body == 'undefined') {
                                layer.msg('body参数不可为空');
                                return false;
                            }
                            apiPms.body = body;
                        } else {
                            var paramList = [];
                            var paramsElem = $(apiElem[i]).find('table[name="params_table"] tr');
                            var paramsIdx = 0;
                            for (var k = 0; k < paramsElem.length; k++) {
                                var params = {};
                                var name = $(paramsElem[k]).find('input[name="paramsName"]').val();
                                if (name == '' || name == 'undefined' || typeof name == 'undefined') {
                                    continue;
                                }
                                params.name = name;
                                var paramsvue = $(paramsElem[k]).find('input[name="paramsValue"]').val();
                                params.value = typeof paramsvue == 'undefined' ? '' : paramsvue;
                                paramList[paramsIdx++] = params;
                            }
                            apiPms.paramList = paramList;
                        }
                    }
                    //设置header
                    var headerList = [];
                    var headerElem = $(apiElem[i]).find('table[name="header_table"] tr');
                    var headerIdx = 0;
                    for (var k = 0; k < headerElem.length; k++) {
                        var header = {};
                        var name = $(headerElem[k]).find('input[name="headerName"]').val();
                        if (name == '' || name == 'undefined' || typeof name == 'undefined') {
                            continue;
                        }
                        header.name = name;
                        var headvue = $(headerElem[k]).find('input[name="headerValue"]').val();
                        header.value = typeof headvue == 'undefined' ? '' : headvue;
                        headerList[headerIdx++] = header;
                    }
                    apiPms.headerList = headerList;
                    //设置出参
                    var outParamsList = [];
                    var outParamsElem = $(apiElem[i]).find('table[name="outpms_table"] tr');
                    var outParamsIdx = 0;
                    for (var k = 0; k < outParamsElem.length; k++) {
                        var outParams = {};
                        var name = $(outParamsElem[k]).find('input[name="outName"]').val();
                        if (typeof name == 'undefined' || name =='undefined' || name == '') {
                            continue;
                        }
                        var resolveExpress = $(outParamsElem[k]).find('input[name="outResolveExpress"]').val();
                        if (typeof resolveExpress == 'undefined' || resolveExpress =='undefined' || resolveExpress == '') {
                            continue;
                        }
                        outParams.name = name;
                        outParams.source = $(outParamsElem[k]).find('select[name="outSource"]').val();
                        outParams.resolveExpress = resolveExpress;
                        outParams.index = $(outParamsElem[k]).find('input[name="outIndex"]').val();
                        outParamsList[outParamsIdx++] = outParams;
                    }
                    apiPms.outParamsList = outParamsList;
                    //设置断言
                    var assertionList = [];
                    var assertionElem = $(apiElem[i]).find('table[name="assertion_table"] tr');
                    var assertIdx = 0;
                    for (var k = 0; k < assertionElem.length; k++) {
                        var assertion = {};
                        var type = $(assertionElem[k]).find('select[name="assertionType"]').val();
                        if (typeof type == 'undefined' || type =='undefined' || type == '') {
                            continue;
                        }
                        var name = $(assertionElem[k]).find('input[name="assertionName"]').val();
                        if (typeof name == "undefined" || name =='undefined' || name == '') {
                            continue;
                        }
                        var factor = $(assertionElem[k]).find('select[name="assertionFactor"]').val();
                        if (typeof factor == "undefined" || factor =='undefined' || factor == '') {
                            continue;
                        }
                        var content = $(assertionElem[k]).find('input[name="assertionContent"]').val();
                        assertion.type = type;
                        assertion.name = name;
                        assertion.factor = factor;
                        assertion.content = typeof content == 'undefined' ? '' : content;
                        assertionList[assertIdx++] = assertion;
                    }
                    apiPms.assertionList = assertionList;
                } else {
                    //集合点
                    apiPms.apiName = '集合点';
                    apiPms.type = '2';
                    apiPms.method = 'none';
                    apiPms.url = 'none';
                    apiPms.waitTime = $(apiElem[i]).find('input[name="waitTime"]').val();
                    apiPms.waitVuserNum = $(apiElem[i]).find('input[name="waitVuserNum"]').val();
                }
                requestPmsList[i] = apiPms;
            }
            scenes.requestPmsList = requestPmsList;
            return scenes;
        }

        //监听提交
        form.on('submit(formScenesSaveFilter)', function (data) {
            var scenes = getScenesFormData(data);
            var ajaxUrl;
            {{if .id}}
            ajaxUrl = '/v1/scenes/update';
            {{else}}
            ajaxUrl = '/v1/scenes/create';
            {{end}}
            //发送请求
            $.ajax({
                url: ajaxUrl,
                type: 'POST',
                datType: 'JSON',
                contentType: 'application/json',
                data: JSON.stringify(scenes),
                async: false,
                success: function (result) {
                    if (result.code == 1) {
                        layer.msg(result.errMsg);
                    } else {
                        var loading = layer.load(0, {shade: false, time: 2 * 1000});
                        $('.layui-this').removeClass("layui-this");
                        layuimini.initPageTitle("/v1/home/scenesList", "压测场景");
                        layuimini.initConten("/v1/home/scenesList");
                        layuimini.initDevice();
                        layer.close(loading);
                    }
                }
            });
            return false;
        });

        //监听调试场景
        form.on('submit(formScenesValidFilter)', function (data) {
            var loading = layer.load(1, {shade: [0.5,'#000']});
            var scenes = getScenesFormData(data);
            var ajaxUrl = '/v1/scenes/valid';
            //发送请求
            $.ajax({
                url: ajaxUrl,
                type: 'POST',
                datType: 'JSON',
                contentType: 'application/json',
                data: JSON.stringify(scenes),
                async: false,
                success: function (result) {
                    if (result.code == 1) {
                        layer.msg(result.errMsg);
                    } else {
                        layer.open({
                            type: 1,
                            area: ['810px', '400px'], //宽高
                            content: '<div style="margin: 20px;line-height: 20px;">'+result.data+'</div>'
                        });
                    }
                    layer.close(loading);
                }
            });
            return false;
        });

        //弹出时间选择框
        $('#scenes_test_btn').click(function () {
            layer.open({
                title:'预约设置',
                type: 1,
                area: ['420px', '240px'], //宽高
                content: '<div style="margin: 20px;line-height: 20px;"><label>预约</label><div class="layui-inline" style="margin-left: 70px;">' +
                    '<input type="text" class="layui-input" id="reserve_time" readonly>' +
                    '</div>' +
                     '<div class="layui-inline" style="margin: 75px 0 0 190px;">' +
                    '<button type="button" class="layui-btn layui-btn-primary" id="runNowBtn">马上运行</button>' +
                    '<button type="button" class="layui-btn layui-btn-primary" id="reserveBtn">预约</button></div>'
                    +'</div>'
            });
            var laydate = layui.laydate;
            //执行一个laydate实例
            laydate.render({
                type:'datetime',
                value:new Date(),
                isInitValue: false,
                elem: '#reserve_time' //指定元素
            });
            $('#reserveBtn').off('click').on('click',function () {
                var reserve_time = $('#reserve_time').val();
                if(typeof reserve_time == 'undefined' || reserve_time == ''){
                    layer.alert('请设置预约时间', {
                        skin: 'layui-layer-lan'
                        ,closeBtn: 0
                        ,anim: 4 //动画类型
                    });
                    return;
                }
                $('input[name="reserveTime"]').val(reserve_time);
                $('#scenes_hidden_test_btn').trigger('click');
            });
            $('#runNowBtn').click(function () {
                $('#scenes_hidden_test_btn').trigger('click');
            });
        });

        //运行
        form.on('submit(formScenesRunFilter)', function (data) {
            var scenes = getScenesFormData(data);
            scenes.scheduledTime = $('input[name="reserveTime"]').val();
            var ajaxUrl;
            {{if .id}}
            ajaxUrl = '/v1/scenes/update';
            {{else}}
            ajaxUrl = '/v1/scenes/create';
            {{end}}
            //发送请求
            $.ajax({
                url: ajaxUrl,
                type: 'POST',
                datType: 'JSON',
                contentType: 'application/json',
                data: JSON.stringify(scenes),
                async: false,
                success: function (result) {
                    if (result.code == 1) {
                        layer.alert(result.errMsg);
                    } else {
                        $.post('/v1/script/create',{id:result.data},function (result) {
                            if(result.code == 1){
                                layer.alert(result.errMsg);
                            }else{
                                layer.close(layer.index);
                                var loading = layer.load(0, {shade: false, time: 2 * 1000});
                                $('.layui-this').removeClass("layui-this");
                                layuimini.initPageTitle("/v1/home/reportList", "压测报告");
                                layuimini.initConten("/v1/home/reportList");
                                layuimini.initDevice();
                                layer.close(loading);
                            }
                        });
                    }
                }
            });
            return false;
        });

    });
</script>
{{if .id}}
    <script src="/static/js/scenes_reload_data.js?1"></script>
{{end}}